body {
    font-family: 'Comfortaa', cursive;
    font-weight: bolder;
    height: 100%
}

#contact {
    margin-bottom: 10px;
}


.main-box {
    margin: 25px auto;
    padding: 25px;
    width: 70vw;
    height: 90%;
    background-color: #EDEDE8;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 2px 1px #838A8A;
    
}
/* psuedo class used to give opacity to background image */
.main-box::before {    
    content: "";
    background-image: url("./images/scribble_light.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;

}

#box-content {
    opacity: 1.00 !important;
}


.sub-box img {
    width: 50%;
}
#contact {
    margin-bottom: 50px;
}
#contact-boxes {
    height: 300px;
    margin-bottom: 25px;
        
}
.contact-box {
    padding: 5px;
    height: 110%;
    box-sizing: border-box;
    margin-bottom: 50px;

}

.sub-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100%;
    margin: 0px; 
    border: 1px solid rgba(19,126,128,.5);
    padding: 3px;
    padding-top: 10px;
    padding-bottom: 100px;
    border-radius: 3px;
    background-color: #E1F4F4;
    box-shadow: 1px 1px 1px; 
    color: #184C4D;
}

.sub-box:hover {
    background-image: linear-gradient(#DBDBD1, #E4E4DD);
    color: #36A9AB;
}

.contact-text {
    margin-top: 5px;
    font-size: 14px;
    text-align: center;
}
