@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@300&family=Raleway&display=swap');
/* font-family: 'Hahmlet', serif;
font-family: 'Raleway', sans-serif; */



#nice-day {
    background-repeat: none;
    background-size: cover;
    filter: grayscale(50%);
    -webkit-filter: (grayscale(50%));
    position: relative;
    font-family: 'Raleway', sans-serif;
    
    }

#bg-layer-nice-day {
    background-color: rgba(248, 247, 216, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#nice-day-description {
    width: 66%;

}

#nice-day-text-span {
    background: rgba(251, 246, 239, 0.8)
}

#nice-day-main {
    padding: 10px;
    width: 66%;
    height: 50%;
    background-image: linear-gradient(0deg, rgba(251, 246, 239, 0.8), rgba(235, 246, 254, .9));
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(38,26,23,.2);

}

.nice-day-column {
    background-color: rgba(235, 255, 254, .5);
    box-shadow: 1px 1px 1px rgba(38,26,23,.2);
    width: 30%;
    height: 75%;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nice-day-date {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
}

.nice-weather-numbers {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: .8em;
    text-align: center;
}

.nice-weather-decision {
    font-size: .9em;
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}


@media only screen and (max-width: 500px) {
    #nice-day-main {
        width: 80%;
        height: auto;
    }
    .nice-day-column {
        width: 95%;
        height: auto;
    }
}


@media only screen and (max-width: 1200px) {
    #nice-day-main {
        width: 80%;
        height: auto;
    }
    .nice-day-column {
        width: 95%;
        height: auto;
    }
}