.main-box {
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 70vw;
    height: 90%;
    background-color: #EDEDE8;
    position: relative;
    border-radius: 3px;
    box-shadow: 1px 2px 1px #838A8A;
}
/* psuedo class used to give opacity to background image */
.main-box::before {    
    content: "";
    background-image: url("./images/scribble_light.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.25;
}

#box-content {
    opacity: 1.00 !important;
}
#projects {
    padding-bottom: 50px;
}

#box-content {
    padding-left: 10px;
    padding-right: 10px;
}
#main-project, #other-projects-row {
    width: 100%
}

.main-project-box, .sub-project {
    margin: 0px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.main-project-box:hover, .sub-project:hover {
    color: red;
}
